<footer class="site-footer">
 {{ partial "mathjax.html" }}
	<div class="container">
		<h4>{{ .Site.Title }}</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<p>{{ .Site.Params.shortDescription }}</p>
					<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<p>
						<span class="fa fa-fw fa-github"></span>
						<a href="https://github.com/{{ .Site.Params.github }}">{{ .Site.Params.github }}</a>
						<br>
						<span class="fa fa-fw fa-bitbucket"></span>
						<a href="https://bitbucket.org/{{ .Site.Params.bitbucket }}">{{ .Site.Params.bitbucket }}</a>
						<br>
						<span class="fa fa-fw fa-linkedin"></span>
						<a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}">{{ .Site.Params.linkedin }}</a>
						<br>
					</p>
				</div>
			</div>
		</div>
	</div>

	{{ partial "yandex_analytics.html" . }}
	{{ partial "analytics.html" . }}

</footer>
