{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

  {{ partial "post_meta.html" . }}

  {{ .Content }}

  <div class="ya-share2" style='text-align: right;' data-services="vkontakte,facebook,gplus,twitter,linkedin,telegram,pocket"  data-counter></div>
  
  {{ partial "prev_next_post.html" . }}

  {{ partial "disqus.html" . }}

</div>

{{ partial "footer.html" . }}
